<form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()" autocomplete="off">
    <div class="custom-modal-account">
        <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
            <!-- <img *ngIf="contact?.imageSrc" [src]="contact?.imageSrc" class="avatar ltr:mr-5 rtl:ml-5"> -->
            <h2 class="headline m-0" fxFlex="auto">{{ form.get('uname').value || 'Yeni hesap oluştur' }}</h2>

            <!-- <button (click)="toggleStar()" class="text-secondary" mat-icon-button type="button">
            <mat-icon *ngIf="contact?.starred" [icIcon]="icStar" class="text-amber-500"></mat-icon>
            <mat-icon *ngIf="!contact?.starred" [icIcon]="icStarBorder"></mat-icon>
          </button> -->

            <!-- <button [matMenuTriggerFor]="settingsMenu" class="text-secondary" mat-icon-button type="button">
            <mat-icon [icIcon]="icMoreVert"></mat-icon>
          </button> -->

            <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
            <mat-icon [icIcon]="icClose"></mat-icon>
          </button>
        </div>

        <mat-divider class="-mx-6 text-border"></mat-divider>



        <mat-dialog-content fxLayout="column">

            <mat-form-field class="mt-6" fxFlex>
                <mat-label>Kategori</mat-label>
                <mat-select cdkFocusInitial formControlName="category">
                    <mat-option *ngFor="let cat of menuCats" [value]="cat.id">
                        <mat-icon [icIcon]="cat.icon" class="ltr:mr-3 rtl:ml-3" matPrefix></mat-icon>
                        {{cat.label}}
                        <small class="text-red-500" *ngIf="cat.id === 1">(Tüm kullanıcılara açık)</small>
                    </mat-option>
                </mat-select>
                <mat-icon [icIcon]="icCategory" class="ltr:mr-3 rtl:ml-3" matPrefix></mat-icon>
                <!-- <input cdkFocusInitial matInput>
            <mat-icon [icIcon]="icPerson" class="ltr:mr-3 rtl:ml-3" matPrefix></mat-icon> -->
            </mat-form-field>
            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
                <mat-form-field fxFlex>
                    <mat-label>Login</mat-label>
                    <input cdkFocusInitial formControlName="uname" matInput>

                    <mat-icon [icIcon]="icEmail" class="ltr:mr-3 rtl:ml-3" matPrefix></mat-icon>
                </mat-form-field>

                <mat-form-field fxFlex>
                    <mat-label>Pass</mat-label>
                    <input formControlName="upass" matInput>

                    <mat-icon [icIcon]="icPassword" class="ltr:mr-3 rtl:ml-3" matPrefix></mat-icon>
                </mat-form-field>
            </div>

            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
                <mat-form-field fxFlex>
                    <mat-label>Ülke</mat-label>
                    <input formControlName="country" matInput>

                    <mat-icon [icIcon]="icCountry" class="ltr:mr-3 rtl:ml-3" matPrefix></mat-icon>
                </mat-form-field>

                <mat-form-field fxFlex>
                    <mat-label>Dil</mat-label>
                    <input formControlName="lang" matInput>

                    <mat-icon [icIcon]="icLanguage" class="ltr:mr-3 rtl:ml-3" matPrefix></mat-icon>
                </mat-form-field>
            </div>

            <mat-form-field>
                <mat-label>Notlar</mat-label>
                <textarea formControlName="unote" matInput></textarea>
            </mat-form-field>
        </mat-dialog-content>



        <mat-dialog-actions align="end">
            <small class="text-secondary">Hızlı işlem için "Enter - ESC" kullanabilirsin.</small>
            <button mat-button mat-dialog-close type="button">İPTAL</button>
            <button *ngIf="!isUpdate" color="primary" mat-button type="submit">HESAP OLUŞTUR</button>
            <button *ngIf="isUpdate" color="primary" mat-button type="submit">HESABI DÜZENLE</button>
        </mat-dialog-actions>

    </div>
</form>

<!-- <mat-menu #settingsMenu="matMenu" xPosition="before" yPosition="below">
    <button mat-menu-item>
          <mat-icon [icIcon]="icPrint"></mat-icon>
          <span>Print</span>
        </button>

    <button mat-menu-item>
          <mat-icon [icIcon]="icDownload"></mat-icon>
          <span>Export</span>
        </button>

    <button mat-menu-item>
          <mat-icon [icIcon]="icDelete"></mat-icon>
          <span>Delete</span>
        </button>
</mat-menu> -->