<form (ngSubmit)="save()" [formGroup]="form">
    <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>


        <h2 *ngIf="form.get('name').value" class="headline m-0" fxFlex="auto">{{ form.get('name').value}}</h2>
        <h2 *ngIf="!form.get('name').value" class="headline m-0" fxFlex="auto">Yeni Kullanıcı Oluştur</h2>

        <!-- <button [matMenuTriggerFor]="settingsMenu" class="text-secondary" mat-icon-button type="button">
        <mat-icon [icIcon]="icMoreVert"></mat-icon>
      </button> -->

        <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon [icIcon]="icClose"></mat-icon>
      </button>
    </div>

    <mat-divider class="-mx-6 text-border"></mat-divider>

    <mat-dialog-content fxLayout="column">
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
            <mat-form-field class="mt-6" fxFlex>
                <mat-label>Tam Adı</mat-label>
                <input cdkFocusInitial formControlName="name" matInput>
                <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
            </mat-form-field>

            <mat-form-field class="mt-6" fxFlex>
                <mat-label>Email</mat-label>
                <input cdkFocusInitial formControlName="email" matInput>

                <mat-icon [icIcon]="icEmail" class="mr-3" matPrefix></mat-icon>
            </mat-form-field>
        </div>

        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
            <mat-form-field class="mt-6" fxFlex>
                <mat-label>Rol</mat-label>
                <mat-select formControlName="role">
                    <mat-option value="admin">Admin</mat-option>
                    <mat-option value="user">Kullanıcı</mat-option>
                </mat-select>
                <mat-icon [icIcon]="icRole" class="mr-3" matPrefix></mat-icon>
            </mat-form-field>

            <mat-form-field class="mt-6" fxFlex>
                <mat-label>Durum</mat-label>
                <mat-select formControlName="status">
                    <mat-option [value]="1">Aktif</mat-option>
                    <mat-option [value]="0">Onay Bekliyor</mat-option>
                    <mat-option [value]="-1">Yasaklı</mat-option>
                </mat-select>
                <!-- <mat-icon [icIcon]="icRole" class="mr-3" matPrefix></mat-icon> -->
            </mat-form-field>
        </div>

        <mat-form-field>
            <mat-label>{{ form.get('name').value}} hakkında varsa notunuz</mat-label>
            <textarea formControlName="unote" matInput></textarea>
        </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close type="button">İPTAL</button>
        <button *ngIf="isCreateMode()" color="primary" mat-button type="submit">KULLANICI OLUŞTUR</button>
        <button *ngIf="isUpdateMode()" color="primary" mat-button type="submit">KULLANICI DÜZENLE</button>
    </mat-dialog-actions>
</form>

<mat-menu #settingsMenu="matMenu" xPosition="before" yPosition="below">
    <button mat-menu-item>
      <mat-icon [icIcon]="icPrint"></mat-icon>
      <span>Print</span>
    </button>

    <button mat-menu-item>
      <mat-icon [icIcon]="icDownload"></mat-icon>
      <span>Export</span>
    </button>

    <button mat-menu-item>
      <mat-icon [icIcon]="icDelete"></mat-icon>
      <span>Delete</span>
    </button>
</mat-menu>