<div class="h-full relative" vexScrollbar>
    <div class="tablescr" fxLayout="column" fxLayoutAlign="space-between">


        <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
            <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none" fxHide.xs>
                <span *ngIf="selection.isEmpty()">{{category?.label}}</span>
                <span *ngIf="selection.hasValue()">{{ selection.selected.length }}
                                Hesap<span *ngIf="selection.selected.length > 1">lar</span> seçildi</span>
            </h2>

            <div *ngIf="selection.hasValue()" class="mr-4 pr-4 border-r" fxFlex="none">
                <button (click)="delAccounts()" color="primary" mat-icon-button matTooltip="Seçilenleri sil" type="button">
                                    
                    <mat-icon [icIcon]="icDeleteForever"></mat-icon>
                              </button>
                <button (click)="movAccounts()" color="primary" mat-icon-button matTooltip="Seçilenleri taşı" type="button">
                                        
                    <mat-icon [icIcon]="icMove"></mat-icon>
                                  </button>

                <!-- <button color="primary" mat-icon-button matTooltip="Another action" type="button">
                                <mat-icon [icIcon]="icFolder"></mat-icon>
                              </button> -->
            </div>

            <div fx-layout="row" fx-flex fx-layout-align="end">
                <h2 class="title my-0 ltr:pr-4 ltr:mr-4" fxFlex="none" xHide.xs>
                    <small class="text-secondary" *ngIf="selection.isEmpty()">Bu kategoride toplam <strong class="text-red-500">{{data.length}}</strong> hesap var.</small>
                </h2>
            </div>
        </div>

        <table [@stagger]="dataSource.filteredData" [dataSource]="dataSource" class="w-full" fxFlex="auto" mat-table matSort>

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Checkbox Column -->
            <ng-container matColumnDef="checkbox">
                <th *matHeaderCellDef mat-header-cell>
                    <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" color="primary">
                    </mat-checkbox>
                </th>
                <td *matCellDef="let row" class="w-4" mat-cell>
                    <mat-checkbox (change)="$event ? selection.toggle(row) : null" (click)="$event.stopPropagation()" [checked]="selection.isSelected(row)" color="primary">
                    </mat-checkbox>
                </td>
            </ng-container>

            <!-- Model Properties Column -->
            <ng-container *ngFor="let column of columns">
                <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header> {{ column.label }}</th>
                    <td *matCellDef="let row" [class.font-medium]="!row.read" [ngClass]="column.cssClasses" mat-cell>
                        <span *ngIf="column.property != 'created_at'">{{ row[column.property] }}</span>
                        <span *ngIf="column.property == 'created_at'"> {{row[column.property] | date: 'dd/MM/yyyy HH:mm'}} </span>


                    </td>
                </ng-container>

                <ng-container *ngIf="column.type === 'checkbox'" [matColumnDef]="column.property">
                    <!-- <th *matHeaderCellDef mat-header-cell mat-sort-header> {{ column.label }}</th> -->
                    <th *matHeaderCellDef mat-header-cell>
                        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" color="primary">
                        </mat-checkbox>
                    </th>
                    <!-- <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>
                        <mat-checkbox (click)="$event.stopPropagation()" [checked]="row[column.property]"></mat-checkbox>
                    </td> -->
                    <td *matCellDef="let row" class="w-4" mat-cell>
                        <mat-checkbox (change)="$event ? selection.toggle(row) : null" (click)="$event.stopPropagation()" [checked]="selection.isSelected(row)" color="primary">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <ng-container *ngIf="column.type === 'image'" [matColumnDef]="column.property">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header> {{ column.label }}</th>
                    <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>
                        <img [src]="row[column.property]" class="avatar h-9 w-9 align-middle my-2">
                    </td>
                </ng-container>

                <ng-container *ngIf="column.type === 'button'" [matColumnDef]="column.property">
                    <ng-container *ngIf="column.property === 'starred'">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header> {{ column.label }}</th>
                        <td *matCellDef="let row" [ngClass]="column.cssClasses" class="w-10" mat-cell>
                            <button (click)="emitToggleStar($event, row.id)" mat-icon-button type="button">
                      <mat-icon *ngIf="row[column.property]" [icIcon]="icStar" class="text-amber-500"></mat-icon>
                      <mat-icon *ngIf="!row[column.property]" [icIcon]="icStarBorder"></mat-icon>
                    </button>
                        </td>
                    </ng-container>

                    <ng-container *ngIf="column.property === 'menu'">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header> {{ column.label }}</th>
                        <td *matCellDef="let row" [ngClass]="column.cssClasses" class="w-10" mat-cell>
                            <button (click)="$event.stopPropagation()" [matMenuTriggerData]="{ account: row }" [matMenuTriggerFor]="contactMenu" mat-icon-button type="button">
                      <mat-icon [icIcon]="icMoreVert"></mat-icon>
                    </button>
                        </td>
                    </ng-container>
                </ng-container>
            </ng-container>


            <tr *matHeaderRowDef="visibleColumns; sticky: true" mat-header-row></tr>
            <!--suppress UnnecessaryLabelJS -->
            <tr (click)="openAccount.emit(row.id)" *matRowDef="let row; columns: visibleColumns;" @fadeInUp class="hover:bg-hover cursor-pointer" mat-row></tr>
        </table>

        <div *ngIf="dataSource.filteredData.length === 0" @scaleFadeIn fxFlex="auto" fxLayout="column" fxLayoutAlign="center center">
            <img class="m-12 h-64" src="assets/img/illustrations/idea.svg">
            <h2 class="headline m-0 text-center">Hesap bulunamadı.</h2>
        </div>

        <mat-paginator [fxHide]="dataSource.filteredData.length === 0" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" class="sticky bottom-0 left-0 right-0 border-t" fxFlex="none"></mat-paginator>
    </div>
</div>

<mat-menu #contactMenu="matMenu" xPosition="before" yPosition="below">
    <ng-template let-account="account" matMenuContent>
        <button (click)="openAccount.emit(account.id)" mat-menu-item>
          <mat-icon [icIcon]="icEdit"></mat-icon>
          <span>Hesabı Düzenle</span>
        </button>

        <button (click)="deleteAccount.emit(account.id)" mat-menu-item>
          <mat-icon [icIcon]="icDeleteForever"></mat-icon>
          <span>Hesabı Sil</span>
        </button>
    </ng-template>
</mat-menu>