<div class="w-full p-gutter text-center" fxLayout="column">

    <h1 class="display-3 font-medium m-0">404</h1>
    <h2 class="headline m-0">Sayfa bulunamadı.</h2>
    <img class="max-w-lg mx-auto mb-6" src="assets/img/illustrations/data_center.svg">
    <hr>
    <a [routerLink]="['/']">Ana sayfaya dön</a>
    <!-- <button class="rounded-full" (click)="send()" color="secondary" mat-raised-button type="button">
            ANA SAYFAYA DÖN
          </button> -->

    <!--     <div class="bg-card rounded-full overflow-hidden relative ltr:pl-5 rtl:pr-5 h-12 max-w-md w-full shadow-8 mx-auto mt-6" fxLayout="row" fxLayoutAlign="start center">
        <button (click)="send()" color="primary" mat-raised-button type="button">
                    ANA SAYFAYA DÖN
                  </button>
    </div> -->
</div>